/*
 *
 *   BDTASK - Responsive Admin Theme
 *   version 1.0
 *
*/

/*Core: General Layout Style
==============================================================================*/


/*--- Layout ---*/



/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.search-btn{
    padding: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.green-yellow {
    background: #005300 !important;
    color: #FFF !important;
}
.mention-text {
    color: #ff0000;
    font-size: 14px;
    font-style: italic;
}

.pt-20{
    padding-top: 20px !important;
}
.mt-10{
    padding-top: 10px !important;
}

.blink {
    background-color: #005300;
  }
  .search-text {
    font-size: 14px;
    color: #fff;
    animation: blink 2s linear infinite;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }

blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.updatecss{
    font-size: 32px;margin-bottom: 36px;display: block;
}
.updatebox{
    font-size:18px; line-height: 28px;
}
.updatenote{
   color:#8a4246;
   background-color:#ffedb6;
   border: 2px dotted #ffd479;
   border-radius:5px;
   padding:15px;
   margin-bottom:20px;
}

.pt10{
  padding-top: 10px !important;
}

.pt9{
  padding-top: 9px !important;
}
.pt8{
  padding-top: 8px !important;
}
.pt7{
  padding-top: 7px !important;
}

.pt6{
  padding-top: 6px !important;
}

.pt5{
  padding-top: 5px !important;
}
.pt4{
  padding-top: 4px !important;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
}
.card.statistic-box .card-header .card-icon {
  margin-top: -3.5rem;
}

.card.statistic-box .card-header-blue .card-icon{
  background-color: #1560e8;
}
.card.statistic-box .card-header-pink .card-icon{
    background-color: #543106;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.sidebar-nav ul li a span{
    margin-left: 8px;
}

.blink_text {
  background-color: #ff0000;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #ff0000; -webkit-box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ff0000; -webkit-box-shadow: 0 0 40px #ff0000; }
  100% { background-color: #ff0000; -webkit-box-shadow: 0 0 3px #ff0000; }
}

@-moz-keyframes glowing {
  0% { background-color: #ff0000; -moz-box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ff0000; -moz-box-shadow: 0 0 40px #ff0000; }
  100% { background-color: #ff0000; -moz-box-shadow: 0 0 3px #ff0000; }
}

@-o-keyframes glowing {
  0% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ff0000; box-shadow: 0 0 40px #ff0000; }
  100% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
}

@keyframes glowing {
  0% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
  50% { background-color: #ff0000; box-shadow: 0 0 40px #ff0000; }
  100% { background-color: #ff0000; box-shadow: 0 0 3px #ff0000; }
}

.bg-sky {
  background: #3EB1FF!important
}
.bg-color1 {
  background: #008080!important
}
.bg-color2 {
  background: #5454AB!important
}
.bg-color3 {
  background: #808000!important
}
.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    text-align: center;
    opacity: 0.9;
}

.sidebar-nav ul li a i {
  font-size: 18px;
  line-height: 1;
  margin-right: .5rem;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 0px;
}

.dl-horizontal dt{
  position: absolute;
}
.dl-horizontal dd{
  padding-left: 120px;
}
.card-content-summary {
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-content-member {
  position: relative;
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0px 0px rgb(62 65 66 / 15%); 
}
.cryp_wrapper{
  min-height: 821px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}